@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

body {
  background-image: url("../assets/image/a2.jpg");
  background-size: cover;
  background-position: center;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(159, 152, 193) rgb(216, 204, 188);
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: rgb(216, 204, 188);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(159, 152, 193);
}

.list {
  padding: 20px;
  width: calc(100vw - 200px);
  height: calc(100vh - 75px);
  overflow-y: scroll;
  overflow-x: hidden;
}
.list .messageListLoader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message, .myMessage {
  display: flex;
  color: white;
  padding-top: 10px;
  word-break: break-word;
  animation: message-spawn 0.2s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease-out;
}
.message img, .myMessage img {
  width: 300px;
  height: 300px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.message .messageAvatar img, .myMessage .messageAvatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.message .messageText, .myMessage .messageText {
  padding: 10px;
  margin: 0 60px 0 0;
  background-color: rgb(64, 71, 73);
  border-radius: 20px;
  border-top-left-radius: 0px;
}
.message .messageName, .myMessage .messageName {
  color: white;
  margin: 0 0 5px 0;
  padding: 5px 0;
}
.message .messageTime, .myMessage .messageTime {
  color: white;
  margin: 0 10px;
  background-color: rgb(64, 71, 73);
  border-radius: 25px;
  padding: 3px 10px 0 10px;
  font-size: 12px;
}
.message .messagePicture, .myMessage .messagePicture {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.message .gridContainer, .myMessage .gridContainer {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-auto-rows: minmax(0, auto);
}
.message .gridContainer .messageAvatar, .myMessage .gridContainer .messageAvatar {
  grid-row-start: 1;
  grid-row-end: 3;
}
.message .gridContainer .messageName, .myMessage .gridContainer .messageName {
  display: flex;
}
.message .gridContainer .messagePicture, .myMessage .gridContainer .messagePicture {
  grid-column-start: 2;
}
.message .gridContainer .messageText, .myMessage .gridContainer .messageText {
  grid-column-start: 2;
  justify-self: start;
}
.message .textWithImage, .myMessage .textWithImage {
  width: 300px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.myMessage {
  flex-direction: row-reverse;
  word-break: break-word;
  animation: myMessage-spawn 0.2s;
}
.myMessage .messageText {
  background-color: rgb(119, 126, 187);
  margin: 0 0 0 60px;
  border-top-right-radius: 0px;
  border-top-left-radius: 25px;
}
.myMessage .messageTime {
  background-color: rgb(119, 126, 187);
}
.myMessage .messageAvatar {
  margin: 0 0 0 10px;
}
.myMessage .gridContainer {
  grid-template-columns: 1fr 60px;
  grid-auto-rows: minmax(0, auto);
}
.myMessage .gridContainer .messageAvatar {
  grid-column-start: 2;
}
.myMessage .gridContainer .messageName {
  justify-self: end;
  flex-direction: row-reverse;
}
.myMessage .gridContainer .messagePicture {
  grid-column-start: 1;
  justify-self: end;
}
.myMessage .gridContainer .messageText {
  grid-column-start: 1;
  justify-self: end;
}
.myMessage .textWithImage {
  width: 300px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

@keyframes message-spawn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes myMessage-spawn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@media screen and (min-width: 1200px) {
  .message, .myMessage {
    margin: 0 15%;
    min-width: 70%;
  }
}
@media screen and (max-width: 430px) {
  .message img,
  .myMessage img {
    width: calc(50vw + 60px);
    height: calc(50vw + 60px);
  }
  .message .textWithImage,
  .myMessage .textWithImage {
    width: calc(50vw + 60px);
  }
}
@media screen and (max-width: 600px) {
  .list {
    width: 100%;
    padding: 5px 5px;
    height: calc(100vh - 75px - 104px);
  }
}

/*# sourceMappingURL=MessageList.css.map */
