@import 'utils';

.firstPage {
   width: 100%;
   height: 100vh;
   background-color: rgb(27,38,42);
   display: flex;
   justify-content: center;
   align-items: center;

   .joinButton {
      padding: 20px;
      color: rgb(187,187,187);
      background-color: rgb(30,30,30);
      border: 2px solid rgb(29,147,171);
      border-radius: 10px;
      
   }
   .joinButton:hover {
      background-color: rgb(40,40,40);
      border: 2px solid rgb(42, 204, 236);
   }
   background-image: unset;
}

