@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
   font-size: 15px;
}

body {
   background-image: url("../assets/image/a2.jpg");
   background-size: cover;
   background-position: center;
}

$user-list-width: 200px;
$text-color: white;
$secondary-text-color: white;
$users-inList-color: rgb(64, 71, 73);
$input-color: rgb(33, 33, 33);
$message-color:  rgb(64, 71, 73);
$myMessage-color: rgb(119, 126, 187);

$avatar-width: 60px;
$input-height: 75px;
$message-list-padd: 20px;
$message-marg: 10px;
$font: 'Roboto', sans-serif;
$adaptive-UL-height: 104px;
